/* shared styles */
body {
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
}

.text-primary {
    color: #FFF;
}

/* header/banner styles */

.banner {
    border-radius: 16px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../images/Banner\ Image.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom right;
}

.banner-info {
    padding-top: 180px;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
}

.banner-title {
    padding-bottom: 180px;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    /* 131.944% */
}